[Unit]
Description=Online spell checker for fst based speller
Documentation=https://github.com/divvun/ck-ospell
After=network.target

[Service]
# Replace with the actual user
User=speller
# The place ck-ospell has been checked out
WorkingDirectory=/home/speller/ck-ospell/
# Leave this as is
Environment="NODE_VERSION=14.15.0"
Environment="NODE_PORT=3001"
# The directory where speller files live, change this as needed
Environment="CKOSPELL_LANG_PATH=divvun_no"
Type=simple
ExecStart=/home/speller/.nvm/nvm-exec node .
Restart=on-failure

[Install]
WantedBy=multi-user.target
